<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>当前不是项目入口</h1>
    <p><a href="/main.html">请移步此链接</a></p>
    <script type="text/javascript">
      
    </script>
  </body>
</html>
